.main {
  margin-top: 40px;

  h1 {
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  h2 {
    @media screen and (max-width: 600px) {
      font-size: 1.3rem;
    }
  }

  h3 {
    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }
  }

  h4 {
    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }

  p {
    @media screen and (max-width: 600px) {
      font-size: 0.9rem;
    }
  }

  img {
    max-width: 100%;
  }
}